user_uuid="5cb7ee3b-ff3e-4a16-8cef-c1bb538d73e1"
bucket_name="wkbfv4hxj5gqzjl7msyhrh9dz"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"